body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.info-text {
  font-size: large;
  font-weight: 600;
  font-style: italic;
}

.home-grid :hover {
  background: white;
}

.heading {
  border-left: goldenrod 5px solid !important;
  max-width: 200px !important;
  justify-self: center;
}

.icon-service {
}

.icon-service:hover {
  font-size: 80px !important;

  color: goldenrod;
  transform: rotate(20deg) !important;
}
